<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>node.js 파일 입출력 / 소켓</title>
<script type="text/javascript" src="fileio.js"></script>
<script type="text/javascript" src="socket.js"></script>
<link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>
</body>
</html>