/*ECONOVATION, ECE 151807 정회형. 2019.03.01*/
table {
    float: center;
    margin: auto;
    margin-top: 120px;
}
td {
    width: 40px;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
}
input {
    text-align: right;
    border: none;
}
input:focus {
    outline: none;
}
